@model notTHATkindOfDungeon.Models.Player
@{
    Player activePlayer = (Player)ViewData["activePlayer"];
    ViewData["Title"] = @ViewData["Title"];
    
}

<h2>@ViewData["heading"]</h2>

<p>
    @ViewData["paragraph"]
</p>

<p>
    @ViewData["prompt"]
</p>

<form asp-action="PlayGameAsync"><input name="choice" type="hidden" value="@ViewData["choice1"]" /><input type="hidden" name="activePlayer" id="activePlayer" value="@activePlayer" /><button type="submit">@ViewData["option1"]</button></form>
<form asp-action="PlayGameAsync"><input name="choice" type="hidden" value="@ViewData["choice2"]" /><input type="hidden" name="activePlayer" id="activePlayer" value="@activePlayer" /><button type="submit">@ViewData["option2"]</button></form>
<br />

